
@{
    ViewData["title"] = "NotFound Page";
}

<div>
    <h1 class="display-5">
        404 Not Found 
    </h1>
    <p><a asp-action="Index" asp-controller="Home">Go Back to Home Page</a></p>
</div>