@{
    ViewData["Title"] = "Home Page";
}


<div class="width: 100%;" style="background: #30694B">
<div  style="background: #30694B">
    <div class="row">
         <div class="col-6 my-auto px-3">
        <p class="px-5"  style="color:#FFD700; margin-bottom: 0"> A brief portfolio of my skills.</p>
        <h1 class="display-4 px-5" style="color: #fff; font-weight:700">Hi, I'm Hope.</h1>
         <p class="px-5"  style="color: #fff">I am a creative and innovative thinker with a passion for learning.
            And, you are welcome to my world.</p>
          
       
         <a class="btn btn-light mx-5" asp-action="Projects" role="button">About Me</a>

    </div>
    <div  class="col-6">
    <img src="~/images/Hope.png" alt="Image here " />
    </div>

    </div>
   
</div>

   
   
</div>
