@model IEnumerable<Project>
@{
    ViewData["Title"] = "Project Page";
}

<div class="row mx-5">
    <div class="card card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Laundry Machine.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Laundry </h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of OOP rules </p>
       <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com/decadevs/week-3-task-Hope-22" role="button">Click 
            Me
        </a>
      </div>
    </div>

    <div class="card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Portfolio.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Portfolio</h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of MVC</p>
        <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com" role="button">Click 
            Me
        </a>
      </div>
    </div>

    <div class="card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Portfolio.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Portfolio</h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of MVC</p>
        <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com" role="button">Click 
            Me
        </a>
      </div>
    </div>
</div>


<div class="row mx-5">
    <div class="card card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Laundry Machine.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Laundry </h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of OOP rules </p>
       <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com/decadevs/week-3-task-Hope-22" role="button">Click 
            Me
        </a>
      </div>
    </div>

    <div class="card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Portfolio.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Portfolio</h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of MVC</p>
        <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com" role="button">Click 
            Me
        </a>
      </div>
    </div>

    <div class="card m-4 bg-light" style="width: 18rem;">
      <img src="~/images/Portfolio.png" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Description: Portfolio</h5>
        <p class="card-text">This project was aimed at evaluating my understanding and implementation of MVC</p>
        <a style = "color:#ffffff"class="btn btn-success mx-5" asp-action="https://github.com" role="button">Click 
            Me
        </a>
      </div>
    </div>
</div>
